.header {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(34,193,195);
  background: linear-gradient(135deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  padding: 0 20px;
  margin: 0 0 2rem 0;
}

.header nav {
  height: 100%;
}

.header a {
  margin: 0 1rem;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.header a:hover,
.header a:active,
.header a.active {
  color: rgb(5, 99, 94);
  padding-bottom: 0.25rem;
  border-bottom: 4px solid rgb(5, 99, 94);
}
