/* body {
  background: rgb(34,193,195);
  background: linear-gradient(135deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  background-repeat: no-repeat;
  height: 100vh;
} */

body { 
  /* margin: 0; */
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  text-align: center;
  padding: 1rem;
}

.home-content {
  text-align: center;
}

.list-items {
  display: flex;
  justify-content: center;
  text-align: center;
}

.form-control {
  border-radius: 5px;
  background-color: rgba(253,187,45,1);
  padding: 20px;
  margin: auto;
  width: 30%;
}

.login-button {
  width: 100%;
  background: rgb(34,193,195);
  color: rgb(0, 0, 0);
  padding: 14px 20px;
  margin: 18px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.control {
  margin: 1rem 0;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.control label,
.control input {
  display: block;
}

.control label {
  font-weight: bold;
  flex: 1;
  color: #050505;
}

.control input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.control.invalid input {
  border-color: red;
  background: #fac1c1;
  color: red;
}

.error-text {
  color: red;
  font-size: 12px;
  margin-top: -3px;
}

button:disabled,
button:disabled:hover,
button:disabled:active {
  background-color: rgb(158, 233, 227);
  color: rgb(95, 95, 95);
  border-color: #ccc;
  cursor: not-allowed;
}

.not-found-error {
  text-align: center;
}